.photo-grid {
    max-width: 928px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 1440px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
        gap: 16px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        max-width: 720px;
        gap: 16px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        max-width: 288px;
        gap: 12px;
    }
}