.footer__links {
    display: flex;
    padding: 0;
    max-width: 1184px;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .footer__links {
        flex-direction: column;
        max-width: 186px;
    }
}

