.footer__copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    color: #fff;
    align-self: center;
    padding: 0;
    margin: 0 0 0 auto;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        margin: 48px auto 0 0;
        line-height: 1;
        align-self: start;
 
    }
}
