.cover {
    max-width: 1184px;
    position: relative;
    padding: 0 48px;
    margin: 0 auto;
    
}

@media screen and (max-width: 1279px) {
    .cover {
        max-width: 1024px;
        padding: 0;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        max-width: 768px;
        padding: 0;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        max-width: 320px;
        padding: 0;
    }
}