    .place {
        max-width: 928px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(440px 1fr));
        grid-gap: 48px 32px;
        padding-bottom: 84px;
        margin: 0 auto;
    }

    .place:last-of-type {
        padding-bottom: 0;
    }
    
    @media screen and (max-width: 1440px) {
        .place {
            max-width: 984px;
            grid-template-columns: repeat(auto-fit, minmax(460px 1fr));
            grid-gap: 48px 40px;
            padding-bottom: 80px;
        }
    }
    
    @media screen and (max-width: 1023px) {
        .place {
            max-width: 720px;
            grid-template-columns: repeat(auto-fit, minmax(340px 1fr));
            grid-gap: 48px 28px;
            padding-bottom: 73px;
        }
    }
    
    @media screen and (max-width: 767px) {
        .place {
            max-width: 320px;
            display: flex;
            flex-direction: column;
        }
    }